# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.zip

*.kicad_pcb-bak
*.kicad_sch-bak


fp-info-cache

spice/*.raw

~$*

main_board/bom/lcsc/lcsc_bom.xls
main_board/fab/pos/*.csv
main_board/fab/gerber/*.csv

*.xml
*.csv
*.dxf

*.bak
*.log
*.sch-bak
*-cache.lib
_autosave*
\#auto_saved_files#

excel
sym-lib-table

# main_board/bom/old
# main_board/fab/old
# main_board/bom/digi-key
# main_board/bom/lcsc


code/arduino_bin
code/ArduinoLLC.ArduinoIDE_1.8.57.0_x86__mdqgnx93n4wtt
code/Bonkulator/libraries
code/Bonkulator/secrets
code/out
dev

manual/*.tmp
docs
docs/*.tmp